/getPropertiesPlain_De.php
/getPropertiesPlain_En.php
/getPropertiesPlain_Es.php
/getPropertiesPlain_Fr.php
/getSearchResultPlain_De.php
/getSearchResultPlain_En.php
/getSearchResultPlain_Es.php
/getSearchResultPlain_Fr.php
/getPropertiesPlain_Bg.php
/getSearchResultPlain_Bg.php
